@keyframes tea{
    1%, 15%, 29%, 43%, 57%, 71%, 85%{background: radial-gradient(rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0),
        rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), 
        rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0),
        rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0),
        rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), 
        rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0),
        rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0),
        rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), 
        rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0));}

    2%, 16%, 30%, 44%, 58%, 72%, 86%{background: radial-gradient(rgb(255, 170, 0),rgb(125, 40, 0), rgb(135, 50, 0), 
        rgb(145, 60, 0), rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), 
        rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0), rgb(245, 160, 0),
        rgb(255, 170, 0),rgb(125, 40, 0), rgb(135, 50, 0), 
        rgb(145, 60, 0), rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), 
        rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0), rgb(245, 160, 0),
        rgb(255, 170, 0),rgb(125, 40, 0), rgb(135, 50, 0), 
        rgb(145, 60, 0), rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), 
        rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0), rgb(245, 160, 0));}

    3%, 17%, 31%, 45%, 59%, 73%, 87%{background: radial-gradient(rgb(245, 160, 0), rgb(255, 170, 0),rgb(125, 40, 0), 
        rgb(135, 50, 0), rgb(145, 60, 0), rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), 
        rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0),
        rgb(245, 160, 0), rgb(255, 170, 0),rgb(125, 40, 0), 
        rgb(135, 50, 0), rgb(145, 60, 0), rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), 
        rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0),
        rgb(245, 160, 0), rgb(255, 170, 0),rgb(125, 40, 0), 
        rgb(135, 50, 0), rgb(145, 60, 0), rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), 
        rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0));}

    4%, 18%, 32%, 46%, 60%, 74%, 88%{background: radial-gradient(rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0),
        rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0), rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0), 
        rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0),
        rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0),
        rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0), rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0), 
        rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0),
        rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0),
        rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0), rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0), 
        rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0));}

    5%, 19%, 33%, 47%, 61%, 75%, 89%{background: radial-gradient(rgb(225, 140, 0),rgb(235, 150, 0), rgb(245, 160, 0), 
        rgb(255, 170, 0),rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0), rgb(155, 70, 0),rgb(165, 80, 0), 
        rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0),
        rgb(225, 140, 0),rgb(235, 150, 0), rgb(245, 160, 0), 
        rgb(255, 170, 0),rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0), rgb(155, 70, 0),rgb(165, 80, 0), 
        rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0),
        rgb(225, 140, 0),rgb(235, 150, 0), rgb(245, 160, 0), 
        rgb(255, 170, 0),rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0), rgb(155, 70, 0),rgb(165, 80, 0), 
        rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0));}

    6%, 20%, 34%, 48%, 62%, 76%, 90%{background: radial-gradient( rgb(215, 130, 0), rgb(225, 140, 0),rgb(235, 150, 0), 
        rgb(245, 160, 0),rgb(255, 170, 0), rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0), rgb(155, 70, 0),
        rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), 
        rgb(215, 130, 0), rgb(225, 140, 0),rgb(235, 150, 0), 
        rgb(245, 160, 0),rgb(255, 170, 0), rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0), rgb(155, 70, 0),
        rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), 
        rgb(215, 130, 0), rgb(225, 140, 0),rgb(235, 150, 0), 
        rgb(245, 160, 0),rgb(255, 170, 0), rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0), rgb(155, 70, 0),
        rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0));}

    7%, 21%, 35%, 49%, 63%, 77%, 91%{background: radial-gradient(rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0),
        rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0), rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0), 
        rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0),
        rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0),
        rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0), rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0), 
        rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0),
        rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0),
        rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0), rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0), 
        rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0));}

    8%, 22%, 36%, 50%, 64%, 78%, 92%{background: radial-gradient(rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0), 
        rgb(225, 140, 0),rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0), rgb(125, 40, 0), rgb(135, 50, 0), 
        rgb(145, 60, 0), rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), 
        rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0), 
        rgb(225, 140, 0),rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0), rgb(125, 40, 0), rgb(135, 50, 0), 
        rgb(145, 60, 0), rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0),
        rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0), 
        rgb(225, 140, 0),rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0), rgb(125, 40, 0), rgb(135, 50, 0), 
        rgb(145, 60, 0), rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0));}

    9%, 23%, 37%, 51%, 65%, 79%, 93%{background: radial-gradient(rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), 
        rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0), rgb(125, 40, 0), 
        rgb(135, 50, 0), rgb(145, 60, 0), rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0),
        rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), 
        rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0), rgb(125, 40, 0), 
        rgb(135, 50, 0), rgb(145, 60, 0), rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0),
        rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), 
        rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0), rgb(125, 40, 0), 
        rgb(135, 50, 0), rgb(145, 60, 0), rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0));}

    10%, 24%, 38%, 52%, 66%, 80%, 94%{background: radial-gradient(rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), 
        rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0), 
        rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0), rgb(155, 70, 0),rgb(165, 80, 0),
        rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), 
        rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0), 
        rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0), rgb(155, 70, 0),rgb(165, 80, 0),
        rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), 
        rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0), 
        rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0), rgb(155, 70, 0),rgb(165, 80, 0));}

    11%, 25%, 39%, 53%, 67%, 81%, 95%{background: radial-gradient(rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), 
        rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0), rgb(245, 160, 0), 
        rgb(255, 170, 0), rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0), rgb(155, 70, 0), 
        rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), 
        rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0), rgb(245, 160, 0), 
        rgb(255, 170, 0), rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0), rgb(155, 70, 0),
        rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), 
        rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0), rgb(245, 160, 0), 
        rgb(255, 170, 0), rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0), rgb(155, 70, 0));}
    12%, 26%, 40%, 54%, 68%, 82%, 96%{background: radial-gradient(rgb(155, 70, 0), rgb(165, 80, 0), rgb(175, 90, 0), 
        rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0), 
        rgb(245, 160, 0), rgb(255, 170, 0), rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0),
        rgb(155, 70, 0), rgb(165, 80, 0), rgb(175, 90, 0), 
        rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0), 
        rgb(245, 160, 0), rgb(255, 170, 0), rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0),
        rgb(155, 70, 0), rgb(165, 80, 0), rgb(175, 90, 0), 
        rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0), 
        rgb(245, 160, 0), rgb(255, 170, 0), rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0));}
    13%, 27%, 41%, 55%, 69%, 83%, 97%{background: radial-gradient(rgb(145, 60, 0), rgb(155, 70, 0), rgb(165, 80, 0), 
        rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0), 
        rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0), rgb(125, 40, 0), rgb(135, 50, 0),
        rgb(145, 60, 0), rgb(155, 70, 0), rgb(165, 80, 0), 
        rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0), 
        rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0), rgb(125, 40, 0), rgb(135, 50, 0),
        rgb(145, 60, 0), rgb(155, 70, 0), rgb(165, 80, 0), 
        rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0), rgb(225, 140, 0), 
        rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0), rgb(125, 40, 0), rgb(135, 50, 0));}
    14%, 28%, 42%, 56%, 70%, 84%, 98%{background: radial-gradient(rgb(135, 50, 0), rgb(145, 60, 0), rgb(155, 70, 0), 
        rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0), 
        rgb(225, 140, 0), rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0), rgb(125, 40, 0),rgb(135, 50, 0),
         rgb(145, 60, 0), rgb(155, 70, 0), 
        rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0), 
        rgb(225, 140, 0), rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0), rgb(125, 40, 0),rgb(135, 50, 0),
         rgb(145, 60, 0), rgb(155, 70, 0), 
        rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), rgb(215, 130, 0), 
        rgb(225, 140, 0), rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0), rgb(125, 40, 0));}
    }


    html{
        animation: tea infinite 5s forwards;
        height: 100%;
        background: radial-gradient(rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0),
        rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), 
        rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0),
        rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0),
        rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), 
        rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0),
        rgb(125, 40, 0), rgb(135, 50, 0), rgb(145, 60, 0),
        rgb(155, 70, 0),rgb(165, 80, 0), rgb(175, 90, 0), rgb(185, 100, 0), rgb(195, 110, 0), rgb(205, 120, 0), 
        rgb(215, 130, 0), rgb(225, 140, 0), rgb(235, 150, 0), rgb(245, 160, 0), rgb(255, 170, 0));
    }